
<!-- Design -->
  <article id="{{ cond (in (.Title|urlize) " %") (.Title | base64Encode) (.Title) | urlize }}">
    <span class="image main"><img src="{{ .Params.image }}" alt="" /></span>
    <h2 class="major">{{ .Title }}</h2>
    {{ if .Params.isDataSourced }}
      {{ $url := .Params.dataUrl }}

      {{ $all := getJSON $url }}
      {{ $techniques := $all.techniqueGroup.techniques }}
      
      <ol>
      {{ range $all.techniqueGroup.techniques }}
        <li>{{ .name }}</li>
          <ol>
            {{ range .steps }}
              <li class="steps">{{ .description }}</li>
            {{end}}
          </ol>
      {{end}}
    {{end}}
    </ol>
  </article>
