{{ partial "header.html" . }}

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <div class="logo">
                <a href="/techniques">
                    <span class="icon">
                        <img src="{{ .Params.image }}">
                    </span>
                </a>
            </div>
            <div class="content">
                <div class="inner">
                    {{ partial "techniques.html" .}}
                </div>
            </div>
        </header>

        {{ partial "design.html" .}}

    </div>

    <!-- BG -->
    <div id="bg"></div>
</body>

{{ partial "footer.html" . }}